<!DOCTYPE html> {% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,700,800' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/imagehover.min.css' %}" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="/">HEALTH MEDLIB</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/login">Old User</a></li>
                    <li><a href="/signup">New User</a></li>
                    <li class="btn-trial"><a href="/">It's Free  </a></li>
                </ul>
            </div>
        </div>
    </nav>
<br><br><br>
      <div class="modal-body">
              <form class="form col-md-12 center-block" method="POST" action="{% url 'main:register_user' %}">
                {% csrf_token %}
               <div class="form-group">
                  <input type="text" class="abc" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                  <input type="email" class="abc" name="email" placeholder="Email-ID" required>
                </div>
                  <div class="form-group">
                  <input type="text" class="abc" name="age" placeholder="Age" required>
                </div>
                <div class="form-group">
                  <input type="text" class="abc" name="sex" placeholder="Gender" required>
                </div>
                <div class="form-group">
                  <input type="text" class="abc" name="address" placeholder="Your Address" required>
                </div>
                <div class="form-group">
                  <input type="text" class="abc" name="blood" placeholder="Your Blood Group" required>
                </div>
                <div class="form-group">
                  <input type="text" class="abc" name="blood_type" placeholder="Want to Donate Blood Yes/No" required>
                </div>
                <div class="form-group">
                  <input type="text" class="abc" name="phone" placeholder="Your Mobile No." required>
                </div>
                <div class="form-group">
                  <input type="password" class="abc" name="pwd" placeholder="Password" required>
                </div>
                <div class="form-group">
                  <input type="password" class="abc" name="cpwd" placeholder="Confirm-Password" required>
                </div>
                <div class="form-group">
                  <button class="abcbut">Sign Up</button>
                </div>
                          </form>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" asnyc></script>
 
</body>
</html>
